.flex {
  padding: 30px;
  background-color: rosybrown;
  display: flex;
  gap: 30px;
  a {
    list-style: none;
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid rosybrown;
    background-color: white;
    border-radius: 20px;
    color: black;
    transition: 0.3s;
  }
  a:hover {
    background-color: rgb(223, 191, 32);
    color: white;
  }
}
